lua_package_path "/apps/nginx-auth-proxy/lua/lua-resty-redis/lib/?.lua;/apps/nginx-auth-proxy/lua/lua-resty-cookie/lib/?.lua;/apps/nginx-auth-proxy/lua/luajson/lua/?.lua;/apps/nginx-auth-proxy/lua/uuid/src/?.lua;";
lua_package_cpath "/apps/nginx-auth-proxy/lua/lua-cjson/?.so";

server {
    server_name nginx-auth-proxy;
    listen 80;

    location / {
        content_by_lua_file "/apps/nginx-auth-proxy/content.lua";
    }
}
